body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: arial, sans-serif;
  background-color: #0E8FC1;
}

a {
  text-decoration: none;
}

.header {
  margin: 0 auto;
  padding-top: 8px;
  height: 40px;
  width: 100%;
  border-bottom: 2px solid black;
  background-color: #C9C9C1;
  color: white;
}

.logoBackground {
  margin: 0 auto;
  padding: 0 auto;
  height: 32px;
  width: 12%;
  background-color: #0E8FC1;
  border-radius: 5px;
}

.logo {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 28px;
  font-style: italic;
  text-align: center;
}

#signin, #signup {
  margin: 0 0 0 30%;
  height: 115px;
  width: 40%;
  background-color: #F4D379;
  border-radius: 5px;
}

#signin h2, #signup h2 {
  padding: 0 0 0 1%;
}

#signin form, #signup form {
  margin-bottom: 20px;
}

#signin a, #signup a {
 margin-left: 2px;
}

.navigation {
  height: 48px;
  width: 100%;
  border-bottom: 2px solid black;
  background-color: #F4D379;
}

.navLinks {
  margin-left: 30%;
  width: 40%;
}
.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation li {
  height: 100%;
  width: 20%;
  display: inline-block;
  margin: 16px 0 0 0;
  margin-right: 20%;
  padding: 0;
}

.navigation li a {
  height: 100%;
}

.navigation li:hover {
  background-color: white;
}

.navigation li a.selected {

}

.navigation .logout {
  width: 18%;
  margin-right: 0%;
}

#container {

  margin: 0 auto;
  padding: 0 auto;
}

.search {
  margin: 10px 0 5px 0;
  margin-left: 40%;
  padding: 0;
  height: 20px;
  width: 20%;
}

#container ul {
  -webkit-padding-start: 0;
  list-style-type: none;
  width: 40%;
  margin: 0 0 0 30%;
  padding: 0 auto;
}

.link {
  margin: 5px 0 5px 0;
  padding: 0;
  height: 50px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.link:hover {
  background-color: #CAC6BA;
}

.link .visits, .count, .original {
  display: inline-block;
  margin-top: 16px;
}

.link .visits {
  margin: 0;
  padding: 0 auto;
}

.link .visits .count {

}

.title:hover {
  cursor: pointer;
}

.title {
  margin-right: 20%;
}

.link .original {
  margin-left: 2%;
  margin-right: 20%;
  padding: 0;
}

form {

}

.shortenInput {
  margin-top: 20px;
  margin-left: 40%;
  height: 18px;
  width: 20%;
}

input[type=url] {

}


.error {

}

.clean {

}

.creator {

}

.creator form {

}

.creator img.spinner {

}

.creator .message {

}
